.container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

body{
    background-color: rgba(104, 244, 232, 0.552);
}

.calculator {
    display: grid;
    grid-template-rows: 35px 35px 35px 35px 35px;
    grid-template-columns: 35px 35px 35px 35px;
    height: 200px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 3px rgba(0, 0, 0, 0.731);
}

.screen {
    grid-column-start: 1;
    grid-column-end: 5;
}
input[type="button"] {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 3px;
    cursor: pointer;

}
.calculator input:nth-child(5),input:nth-child(9),input:nth-child(13),input:nth-child(15),input:nth-child(16),input:nth-child(17){
    background-color: rgba(255, 255, 255, 0.552);
    color: white;

}
.calculator input:nth-child(14){
    background-color: rgba(255, 82, 39, 0.859);
}

input[type="text"] {
    width: 134px;
    height: 35px;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    text-align: right;
    box-shadow: inset 1px 2px rgba(0, 0, 0, 0.392) ;
}